.filmInfoContent {
    width: 100%;
    gap: 24px;

}

.title {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.filmInfo {
    display: flex;
    width: 1024px;
    background-color: #f5f5f5;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    background-color: white;
    gap: 24px;
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 8px;
    background: var(--background-primary);
}

.smallPoster {
    width: 100px;
    height: 120px;
    border-radius: 8px;
}

